.contain1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.ro{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.co{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}